# Copy this file to .env before using Docker Compose.
RELEASE_VERSION=0.0.1
BUILD_REVISION=replace-with-git-commit

CONFIG_SERVER_URL=http://config-server:8888
# Override this with a remote Git URL in deployed environments.
CONFIG_GIT_URI=http://config-git/config.git
CONFIG_GIT_DEFAULT_LABEL=main
CONFIG_GIT_USERNAME=
CONFIG_GIT_PASSWORD=

EUREKA_PEERS=http://eureka-1:8761/eureka/,http://eureka-2:8761/eureka/,http://eureka-3:8761/eureka/
EUREKA_URL=http://eureka-cluster:8761/eureka/

ZIPKIN_ENDPOINT=http://zipkin:9411/api/v2/spans
TRACING_SAMPLING_PROBABILITY=1.0

CONFIG_SERVER_HOST_PORT=8888
EUREKA_1_HOST_PORT=8761
EUREKA_2_HOST_PORT=8762
EUREKA_3_HOST_PORT=8763
GATEWAY_HOST_PORT=8080
PROMETHEUS_HOST_PORT=9090
ZIPKIN_HOST_PORT=9411
